* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AA;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    --ff-sora: "Sora", sans-serif;
    --ff-roboto-mono: "Roboto Mono", monospace;
    --ff-roboto-flex: "Roboto Flex", sans-serif;
    --display-lg: 800 4.5rem/1.3 var(--ff-sora);
    --display-md: 800 2.5rem/1.3 var(--ff-sora);
    --display-sm: 700 2rem/1.3 var(--ff-sora);
    --overline: 700 1rem/1.5 var(--ff-roboto-mono);
    --p-lg: 500 1rem/1.5 var(--ff-roboto-flex);
    --p-md: 500 0.875rem/1.5 var(--ff-roboto-flex);
    --p-sm: 500 0.75rem/1.5 var(--ff-roboto-flex);
    --label-md: 700 1.25rem/1.5 var(--ff-roboto-flex);
    --label-sm: 700 1rem/1.5 var(--ff-roboto-flex);
}

body{
    background-color: var(--background-primary);
    position: relative;
    color: var(--content-secondary);
}

.bg-img {
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;


    background-image: 
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9) 60%
        ),
        url(../assets/Shapes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: space-around;
}