.right {
    max-width: 30.125rem;
    & .header-form {
        margin-bottom: 2.5rem;
        & fieldset {
            font: var(--label-md);
            color: var(--content-primary);
            text-transform: uppercase;
            border: none;
            margin-bottom: 0.25rem;
        }

        & label {
            font: var(--p-lg);
        }
    }

    & .inputs-wrapper {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 1.25rem;
        & .input-wrapper {
            display: grid;
            gap: 0.5rem;
            & label {
                font: var(--label-sm);
                text-transform: uppercase;
                text-align: center;
                transition: 0.3s ease;
            }

            & input {
                background-color: var(--background-secondary);
                border: 3px solid transparent;
                color: var(--content-primary);
                font: var(--display-sm);
                width: 5.375rem;
                height: 3.5rem;
                text-align: center;
                border-radius: 0.5rem;
                transition: background 0.3s;
                outline: none;
            }

            &:hover, &:focus-within {
        
                & input {
                    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)), linear-gradient(to right, var(--gradient-border));
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                }

                & label {
                    color: var(--content-brand);
                }
            }
        }
    }

    & .toggle-wrapper {
        display: flex;
        align-items: center;
        gap: 0.75rem; 
        margin-bottom: 2.5rem; 
        
        & .toggle-input {
            display: none;
        }

        & .toggle-label {
            position: relative;
            width: 3rem;   
            height: 1.5rem; 
            background-color: var(--background-gray); 
            border-radius: 999px; 
            cursor: pointer;
            transition: background 0.3s ease;
            &::before {
                content: '';
                position: absolute;
                width: 1rem;   
                height: 1rem;
                background-color: var(--content-primary); 
                border-radius: 50%;
                
                top: 0.25rem; 
                left: 0.25rem;
                
                transition: transform 0.5s ease;
                box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            }
        }

        & span {
            font: var(--p-md); 
            color: var(--content-primary);
        }
        
        & .toggle-input:checked + .toggle-label {
            background: linear-gradient(90deg, var(--gradient-background));
        }

        & .toggle-input:checked + .toggle-label::before {
            transform: translateX(1.5rem); 
        }
    }

    & .btn-randomize {
        background-color: var(--background-tertiary);
        border: 3px solid transparent;
        border-radius: 0.5rem;
        color: var(--content-primary);
        font: var(--label-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5rem;
        text-transform: uppercase;
        gap: 0.5rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background-image: linear-gradient(var(--background-secondary), var(--background-secondary)), linear-gradient(var(--angle), var(--gradient-border));
        
            background-origin: border-box;
            background-clip: padding-box, border-box;

            animation: rotate-border 3s linear infinite;

            & img {
                animation: btn-arrow 1.6s ease infinite;
            }
        }
    }

    & .content-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 30.125rem;
        max-width: 30.125rem;
        min-height: 25rem;
        width: 100%;
        
        & .header-result {
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
            
            & fieldset {
                font: var(--label-md);
                color: var(--content-primary);
                text-transform: uppercase;
                border: none;
                margin-bottom: 0.5rem;
            }
        
            & label {
                font: var(--overline);
                color: var(--content-secondary);
                text-transform: uppercase;
            }
        }
        
        & .result-numbers {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 3rem;
            width: 100%;
        }
        
        & .result-number {
            position: relative;
            z-index: 1;
            font: var(--display-md);
            display: flex;
            align-items: center;
            justify-content: center;

            width: 5rem;
            height: 5rem;
            border-radius: 2rem;

            animation-name: animar-conjunto;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-fill-mode: forwards;
            
            color: transparent;
            transform: rotate(-45deg);

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                
                background-color: var(--content-brand);
                border-radius: 1.75rem;
                z-index: -1;
                
                animation-name: animar-fundo;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
                animation-delay: inherit; 
                
                scale: 0;
            }
        }
    
        #btn-reset {
            width: 100%;
        }
    }
}

.hide {
    display: none !important;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: false;
}

@keyframes btn-arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate-border {
    to {
        --angle: 450deg;
    }
}

@keyframes animar-conjunto {
    0% {
        color: transparent;
        transform: rotate(-45deg);
    }
    20% {
        color: transparent;
        transform: rotate(-45deg);
    }
    40% {
        color: var(--color-inverse);
        transform: rotate(0deg);
    }
    75% {
        color: var(--color-inverse);
        transform: rotate(0deg);
    }
    85% {
        color: var(--content-brand); 
    }
    100% {
        color: var(--content-brand);
        transform: rotate(0deg);
    }
}

@keyframes animar-fundo {
    0% {
        scale: 0;
        opacity: 0;
    }
    20% {
        scale: 1;
        opacity: 1;
    }
    75% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0;
        opacity: 0;
    }
}